<ion-view view-title="News">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Announcement 1</div>
      <div class="item item-body">
        <div>
        This is an announcement.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Announcement 2</div>
      <div class="item item-body">
        <div>
          This is another Announcement
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Matt</div>
      <div class="item item-body">
        <div>
          Matt is a loser
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
