<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-royal">

  <!-- News Tab -->
  <ion-tab title="News" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Calendar Tab -->
  <ion-tab title="Calendar" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/cal">
    <ion-nav-view name="tab-cal"></ion-nav-view>
  </ion-tab>

  <!-- Directory Tab -->
  <ion-tab title="Directory" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/dir">
    <ion-nav-view name="tab-dir"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
